// Rules for using text as black on a light background.
.md-dark { color: rgba(0, 0, 0, 0.54); }
.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

// Rules for using text as white on a dark background.
.md-light { color: rgba(255, 255, 255, 1); }
.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.nooch-red-text {
  color: red;
}

.nooch-green-text {
  color: green;
}

.nooch-blue-text {
  color: blue;
}

.nooch-darkorchid-text {
  color: darkorchid;
}

.nooch-darkturquoise-text {
  color: darkturquoise;
}

.nooch-mediumaquamarine-text {
  color: mediumaquamarine;
}

md-content.md-default-theme {
  background-color: #F3F2FA;
}
body {
  background-color: #F3F2FA;
  height: 100%;
}