@import "icons";
@import "colors";
@import "palette";
@import "fixes";



md-toast {
  position: fixed;
  color: @textPrimaryColor;

  &[md-theme=puzzle-error-toast] {
    background-color: @accentColor;
  }
}

md-card {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}


.puzzle-small-text {
  font-size: 85%;
}