<md-card class="md-whiteframe-z2 nooch-card" ng-cloak>
    <md-card-content>
        <h2 class="md-title">Puzzle Score</h2>
        <section>
            <md-list>
                <md-list-item class="md-2-line" ng-repeat="puzzle in scoreController.puzzles | orderBy:'-totalScore'" ng-click="scoreController.openScoreInDetail(puzzle)">
                    <i class="material-icons md-dark" flex="10">extension</i>
                    <div class="md-list-item-text" flex>
                        <h3>{{ puzzle.user.name }}</h3>
                        <p>{{ puzzle.timestamp | date }}</p>
                    </div>
                    <div class="puzzle-align-right" flex="15">{{ puzzle.totalScore }}</div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
            <div ng-show="scoreController.puzzles.length==0" flex="100" flex-order="1" layout="column" layout-align="center center">
                <span><i class="material-icons">announcement</i></span>
                <span class="puzzle-small-text">There are no puzzle scores so far.</span>
                <md-button type="button" class="md-raised" ng-click="scoreController.playGame()">
                    Play a game
                </md-button>
            </div>
        </section>
    </md-card-content>
</md-card>