<md-content layout-padding>
    <md-card class="md-whiteframe-z2 puzzle-card" ng-cloak>
        <md-card-content>
            <div layout="row" layout-wrap="" layout-align="center start">
                <div flex="" layout="column">
                    <h2>Word Puzzle</h2>
                    <section layout="row">
                        <large>{{ puzzleController.currentWord.shuffledWord }}   (Score: {{puzzleController.currentWord.score}})</large>
                    </section>
                </div>
                <div flex="30" layout="column" layout-align="start end">
                    <time-pie left="{{puzzleController.seconds}}" total="{{puzzleController.maxSeconds}}"></time-pie>
                </div>
            </div>
            <form name="wordForm" ng-submit="puzzleController.submitWord(puzzleController.input)">
                <section layout="row">
                    <md-input-container flex>
                        <label>Guess the word</label>
                        <input type="text" name="name" required ng-model="puzzleController.input" ng-keydown="puzzleController.trackBackspaces($event)" autocomplete="off" />
                    </md-input-container>
                </section>

                <section layout="row">
                    <span flex=""></span>
                    {{puzzleController.puzzle.words.length}} word{{ puzzleController.puzzle.words.length | plural }} solved and only {{puzzleController.seconds}} second{{ puzzleController.seconds | plural }} left.
                    <span flex=""></span>
                </section>

                <section class="md-actions" layout="row" layout-align="end center">
                    <md-button type="button" class="md-raised" ng-show="puzzleController.currentWord.score===0" ng-click="puzzleController.nextWord()">
                        Skip
                    </md-button>
                    <md-button type="submit" class="md-raised md-primary" ng-disabled="puzzleController.seconds===0">
                        Submit
                    </md-button>
                </section>
            </form>
        </md-card-content>

    </md-card>
</md-content>